.label {
    color: #C5C7CE;
    font-size: 14px;
}

.input {
    width: 100%;
    height: 46px;
    background: #393C46;
    border-radius: 4px;
    margin-top: 6px;
    font-size: 18px;
    padding: 0 10px;
    color: #fff;
}