.card {
    padding: 56px 72px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.back {
    display: flex;
    align-items: center;
    color: #F2F2F2;
    text-decoration: none;
    gap: 8px;
}

@media (max-width: 998px) {
    .card {
        padding: 56px 30px 0;
    }
}

@media (max-width: 673px) {
    .card {
        padding: 32px 8px 54px;
    }
}